body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #252D44;

}

.calculator {
    /* border: 2px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #252D44;
}

#display {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 18px;
    background-color: #181F32;
    color: #f0f0f0;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #252D44;
}

button {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #EAE3DB;
    border-radius: 5px;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}
.equal {
    grid-column: span 2; 
    background-color: #D13F30;
}

.reset {
    grid-column: span 2; 
    font-size: 16px; 
    background-color: #647299;
    color: #EAE3DB;
}


.delete{
    background-color: #647299;
    color: #EAE3DB;
}